* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: system-ui, sans-serif;
    --player1-color: #fa687f;
    --player2-color: #6992e1;
    --win-color: #62cac9;
}

header,#board,#status-div {
    width: 70vw;
    margin: 10px auto;
    text-align: center;
}

#board {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.square {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1, .row2 {
    border-bottom: 2px solid black;
}

.col2, .col3{
    border-left: 2px solid black;
}

.square p {
    font-size: 18vw;
}

.square:hover {
    background-color: lightblue;
}

.occupied {
    visibility: hidden;
}

#status-div {
    margin-top: 1em;
}

#players {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr / 1fr;
}

#player1,#player2 {
    padding: 1em;
}

#player2 {
    grid-column-start: 2;
    background-color: var(--player2-color);
}

#player1 {
    background-color: var(--player1-color);
}

#reset-button {
    position: fixed;
    top: 10px;
    right: 10px;
}



